@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
    .in {
       height: 850px;
       display: -webkit-flex;
       display: flex;
       -webkit-align-items: center;
       align-items: center;
       -webkit-justify-content: center;
       justify-content: center;
       text-align: center;
       background-color: transparent;
    }
    ul {
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       justify-content: center;
       padding: 0;
       background-color: transparent;
    }
    ul>li {
       list-style: none;
       background-color: transparent;
    }
    table {
       width: 40px;
    }
    table, th, td {
       border-collapse: collapse;
       /* border: 5px solid transparent; */
       background-color: transparent;
    }
   .xs, .gps, .hours, .minutes, .seconds, .kfs, .milliseconds, .sep {
      font-size: 70px;
      opacity: 1;
      transition: opacity 0s;
      -webkit-transition: opacity 0s;
      -ms-transition: opacity 0s;
      -moz-transition: opacity 0s;
      -o-transition: opacity 0s;
      color: rgba(255, 255, 255);
      text-shadow: 0px 0px 15px rgba(0, 0, 0),0px 0px 15px rgb(251, 251, 251);
   }
   
   .xs_ref, .gps_ref, .hours_ref, .minutes_ref, .seconds_ref, .kfs_ref, .milliseconds_ref {
      font-size: 20px;
      text-shadow: 0px 0px 15px rgba(141, 138, 138, 1),0px 0px 15px rgba(141, 138, 138, 1);
      color: lightgray;
   }
    @font-face {
       font-family: 'digital';
       src: url('./digitaldreamfatnarrow.ttf');
    }
    body {
       font-family: 'digital';
       color: white;
       background-color: black;
       /* font-style: normal;
       font-weight: normal; */
    }
 }